@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Fjord';
    font-weight: 400;
}
:root {
    --primary: #202020;
    --secondary: #E0E0E0;
    --third: #FF0000;
    --black: black;
    --white: white;
}

body{
    background-color: white;
}

header {
    border-bottom: 0.5rem solid var(--primary);
    display: flex;
    background-color: white;
}
header picture img {
    height: 5rem;
    align-items: flex-end;
}
header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav ul li {
    margin: 0 1.5rem;
}
header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

main h1{
    font-family: "Fjord";
    font-size: 45px;
    color: black;
    text-decoration:none;
    text-align:center;
}
main section list{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
main picture.main img{
    width: 33%;
    height: 33%;
    align-items: center;
}
main picture.main img.porsche{
    margin: 0rem;
}
main section.img img {
    width: 50%;
}
main section.list aside {
    background-color: var(--secondary);
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2rem;
    align-items: center;
    color: black;
}
main section.list aside h3 strong{
    font-weight: bold;
    color: black;
}
main a {
    color: black;
}

footer {
    height: 3rem;
    display: flex;
    border-bottom: 4rem solid var(--primary);
}
footer div {
    height: 4rem;
    display: flex;
    align-items: center;
}
.content {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
footer.content div{
    width: 100%;
    height: 100%;
} 